<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <div class="l-firstview">
      <%- include('./parts/_p-firstview') %>
      <%- include('./parts/_p-introduction') %>
    </div>
    
    <section class="l-message">
      <%- include('./parts/_p-message') %>
    </section>
    
    <section class="l-point">
      <%- include('./parts/_p-point') %>
    </section>

    <section class="l-work">
      <%- include('./parts/_p-work') %>
    </section>

    <section class="l-member">
      <%- include('./parts/_p-member') %>
    </section>

    <section class="l-recruit">
      <%- include('./parts/_p-recruit') %>
    </section>

    <section class="l-contact">
      <%- include('./parts/_p-contact') %>
    </section>

    
    <%- include('./common/_footer') %>

    <div class="floating-bg">
      <div class="p-contact__submit floating">
        <a href="#" class="short">お問い合わせ</a>
      </div>
    </div>

  </body>
</html>
